parameters:
	ignoreErrors:
		-
			message: "#^Filter callback return statement is missing\\.$#"
			count: 1
			path: modules/xml-rpc/class-xml-rpc.php

		-
			message: "#^Inner named functions are not supported by PHPStan\\. Consider refactoring to an anonymous function, class method, or a top\\-level\\-defined function\\. See issue \\#165 \\(https\\://github\\.com/phpstan/phpstan/issues/165\\) for more details\\.$#"
			count: 2
			path: tests/phpunit/test-class-configs.php

		-
			message: "#^Action callback returns true but should not return anything\\.$#"
			count: 1
			path: tests/phpunit/test-forced-mfa-users.php
